@model IEnumerable<TurboCart.Domain.Entities.Booking>
@{
    ViewData["Title"] = "Home Page";
    string route = Context.Request.Path.ToString();
    route = route.Substring(route.LastIndexOf('/') + 1);

    string title;
    DateOnly date = DateOnly.FromDateTime(DateTime.Today);

    switch (route) {
        case "":
            title = "Bookings for today";
            break;
        case "week":
            title = "Bookings for this week";
            break;
        case "all":
            title = "All Bookings";
            break;
        default:
            if (DateOnly.TryParse(route, out date)) {
                title = "Bookings for " + date;
            }
            else {
                title = "Bookings for today";
            }
            break;
    }

    var previousDay = date.AddDays(-1);
    var nextDay = date.AddDays(1);
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
</div>
<div>
    <div class="btn-group me-3">
        <a asp-action="Index" class="btn btn-outline-primary">Today</a>
        <a asp-action="ListThisWeek" class="btn btn-outline-primary">This Week</a>
        <a asp-action="ListAll" class="btn btn-outline-primary">All</a>
    </div>
    <div class="btn-group me-3">
        <a asp-action="ListDay" asp-route-date="@previousDay" class="btn btn-outline-primary">Previous Day</a>
        <a asp-action="ListDay" asp-route-date="@nextDay" class="btn btn-outline-primary">Next Day</a>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var booking in Model) {
                <tr>
                    <td><a asp-action="Details" asp-route-id="@booking.BookingId" draggable="false"> @booking.BookingId </a></td>
                    <td><a asp-action="Details" asp-route-id="@booking.BookingId" draggable="false"> @booking.Start.ToShortDateString() </a></td>
                    <td><a asp-action="Details" asp-route-id="@booking.BookingId" draggable="false"> @booking.Start.ToShortTimeString() </a></td>
                    <td><a asp-action="Details" asp-route-id="@booking.BookingId" draggable="false"> @booking.Customer.Name </a></td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="CreateNew">Create New Booking</a>
</div>
