@model IEnumerable<TurboCart.Domain.Entities.Booking>
@{
    ViewData["Title"] = "Home Page";
    string datetimePattern = "yyyy-MM-dd"; //used internally
    var datetimeCulture = new System.Globalization.CultureInfo("da-DK"); //displayed on page

    string route = Context.Request.Path.ToString();
    route = route.Substring(route.LastIndexOf('/') + 1);

    string title;
    DateOnly date = DateOnly.FromDateTime(DateTime.Today);

    switch (route)
    {
        case "":
            title = "Bookings for i dag";
            break;
        case "week":
            title = "Bookings for denne uge";
            break;
        case "all":
            title = "Alle bookings";
            break;
        default:
            if (DateOnly.TryParseExact(route, datetimePattern, out date)) {
                title = "Bookings for " + date.ToString(datetimeCulture);
            }
            else {
                title = "Bookings for i dag";
                date = DateOnly.FromDateTime(DateTime.Today);
            }
            break;
    }

    var previousDay = date.AddDays(-1);
    var nextDay = date.AddDays(1);
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
</div>
<div>
    <div class="btn-group me-3 mb-3">
        <a asp-action="Index" class="btn btn-outline-primary">I dag</a>
        <a asp-action="ListThisWeek" class="btn btn-outline-primary">Denne uge</a>
        <a asp-action="ListAll" class="btn btn-outline-primary">Alle</a>
    </div>
    <div class="btn-group me-3 mb-3">
        <a asp-action="ListDay" asp-route-date="@previousDay.ToString(datetimePattern)" class="btn btn-outline-primary">Tilbage</a>
        <a asp-action="ListDay" asp-route-date="@nextDay.ToString(datetimePattern)" class="btn btn-outline-primary">Næste</a>
    </div>

    @if (Model.Count() > 0) {
        <table class="table table-hover mb-3">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Dato</th>
                    <th scope="col">Tid</th>
                    <th scope="col">Kunde</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var booking in Model) {
                    string name = booking.Customer?.Name ?? "[Ukendt Navn]";
                    <tr>
                        <td><a asp-action="Details" asp-route-id="@booking.BookingId" draggable="false"> @booking.BookingId </a></td>
                        <td><a asp-action="Details" asp-route-id="@booking.BookingId" draggable="false"> @booking.Start.ToString("dddd, dd MMMM yyyy", datetimeCulture) </a></td>
                        <td><a asp-action="Details" asp-route-id="@booking.BookingId" draggable="false"> @booking.Start.ToString("t", datetimeCulture) </a></td>
                        <td><a asp-action="Details" asp-route-id="@booking.BookingId" draggable="false"> @name </a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else {
        <h2 class="mb-3">Der er ingen @title</h2>
    }
    <a class="btn btn-primary" asp-action="CreateNew">Opret ny booking</a>
</div>
